.footer {
    margin-top: 1rem;
    /* padding: 1rem; */
    background-color: rgb(233, 182, 17);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: aliceblue;
  }
  